.profile__edit-button {
    border: 1px solid #FFFFFF;
    background-color: black;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    padding: 0;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
    transition: opacity .3s ease;
}