.form__save-button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    margin: 48px 36px 37px 36px;
    border: none;
}

.form__save-button:hover {
    opacity: .5;
    transition: opacity .3s ease;
}