.profile__status {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 16px;
    grid-area: profile__subtitle;
}

@media screen and (max-width: 767px) {
    .profile__status {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}