.profile {
    max-width: 880px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1023px) {
    .profile {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }
}


