.form__input-error {
    /*font-family: 'Inter';*/
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    margin-left: 36px;
    border-color: red;
    max-height: 9px;
}