.popup__close-button {
    background: url("../../../images/close_icon.svg") center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border: none;
}

.popup__close-button:hover {
    opacity: .6;
    transition: opacity .3s ease;
}

@media screen and (max-width: 797px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0;
    }
}