.profile__button {
    background-color: black;
    margin-top: 75px;
    margin-left: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    grid-area: profile__button;
}

.profile__button:hover {
    opacity: .6;
    transition: opacity .3s ease;
}


@media screen and (max-width: 767px) {
    .profile__button {
        min-width: 282px;
    }
}
